@model IEnumerable<Chat.Data.Entities.Mensaje>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-10 .align-content-sm-center container">

                    @foreach (var item in Model)
                    {
                        <div class="row">
                            <div class="col-md-2">
                                <img class="imagenIcono" src="~/assets/emi.jpg" />
                            </div>
                            <div class="col-md-10 ">
                                <p>@Html.DisplayFor(modelItem => item.UsuarioEmisor.Id)</p>
                                <p>@Html.DisplayFor(modelItem => item.MensajeEnviado)</p>
                                <p style="color: grey">@Html.DisplayFor(modelItem => item.Enviado) </p>
                                <p>@Html.DisplayFor(modelItem => item.UsuarioEmisor.NombreUsuario)</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Profesores
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">

                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active">
                                        Conectados
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action">Profesor 2</button>
                                    <button type="button" class="list-group-item list-group-item-action">Profesor 3</button>
                                </div>
                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active">
                                        Desconectados
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action">Profesor 1</button>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Alumnos
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active">
                                        Conectados
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action">Alumno 1</button>
                                    <button type="button" class="list-group-item list-group-item-action">Alumno 2</button>
                                    <button type="button" class="list-group-item list-group-item-action">Alumno 4</button>

                                </div>
                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active">
                                        Desconectados
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action">Alumno 3</button>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Administración
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active">
                                        Conectados
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action">Director</button>
                                    <button type="button" class="list-group-item list-group-item-action">Coordinador</button>

                                </div>
                                <div class="list-group">
                                    <button type="button" class="list-group-item list-group-item-action active">
                                        Desconectados
                                    </button>
                                    <button type="button" class="list-group-item list-group-item-action">Subdirector</button>
                                    <button type="button" class="list-group-item list-group-item-action">Administrativo 1</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Mensaje">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="reset">Enviar</button>
                </div>
            </div>
        </div>
        
    </div>


